<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXeBTCxsL-DAR2axejpcIHQxjC0OiDIp0</string>
	<key>GCM_SENDER_ID</key>
	<string>745458362769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeforany.foodDelivery</string>
	<key>PROJECT_ID</key>
	<string>todolist-4b27e</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-4b27e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745458362769:ios:f57021bde37a9d7cb29230</string>
</dict>
</plist>